include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include sbc_cr34 *.js
recursive-include sbc_cr34 *.json
recursive-include sbc_cr34 *.py
recursive-exclude sbc_cr34 *.pyc
